/* 1. Add the sheet and center the title */
h1 {
    text-align: center;
}

textarea {
    width: 100%;
}

/* 2. Make table header fit on small screens */
@media screen and (max-width:400px) {
    th {
        font-size: smaller;
    }
}

/* 3. Style fieldsets */
fieldset {
    border-radius: 4px;
    margin: 1em 0em;   
}


/* 4. Style the table */

td {
    text-align: center;
}

td:first-child {
    text-align: left;
}

/* 5. Have fun with the legend */
legend {
    background-color: #8fc9e7;
    border-radius: 6px;
    padding: 4px 8px
}

/* 6. Grow inputs */

#personal-info input {
    width: 100%;
    padding: 2px;
    margin: 4px 0px;
}

/* 7. Button */
button {
    background-color: #8fc9e7;
    font-size: 1.5em;
    width: 100%;
    border-radius: 4px;
 
}

/* 8. Font */
html, body {
    font-family: 'Amarante';
}

button {
   font-family: 'Amarante';
}

textarea, input {
    font-size: 1em;
    font-family: 'Amarante';
}
